@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,500');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(52, 140, 209);
}

a:hover,
a:focus {}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: auto;
}

.sidebar {
    background: rgb(33, 98, 156);
    color: rgb(202, 220, 234);
}

.brand-title,
.brand-tagline {
    margin: 0;
}
a h1.brand-title {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    font-size: 1.75em;
}
.brand-tagline {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 1.25em;
    color: rgb(202, 220, 234);
}

.nav-list {
    margin: 0 1em 1.5em;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 50%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.social-links {
    margin: 1em 0 0.5em;
}

a .fab, a .fas {
    margin: 0 0.1em;
    color: rgb(219, 231, 243);
}

a.menu-item h3,
a:visited.menu-item h3,
a:focus.menu-item h3,
a:hover.menu-item h3 {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    color: rgb(219, 231, 243);
    margin: 0.5em 0;
}

.home-summary div h2{
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.2em;
    color: rgb(43, 128, 204);
    margin: 0 0 0.5em;
}

.home-summary div h2 a{
    color: gray;
}

.home-sections {
    padding-right: 3em;
}

a.home-content-title{
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: rgb(43, 128, 204);
    font-size: 1.5em;
    margin: 0 0 0.25em;
}

a.home-title-list {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: rgb(43, 128, 204);
    font-size: 1.5em;
}

.home-title-list-section {
    margin-bottom: 0.25em;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

h1.content-title {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 3em;
    margin: 0 0 0;
    color: rgb(43, 128, 204);
    clear: left;
}

.content-title a {
    color: rgb(43, 128, 204);
}

.content {
    padding: 2em 1em 0;
}
div.content-body {
    margin-bottom: 6em;
}
nav.content-nav {
    margin-bottom: 1em;
}
.content-time {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: gray;
    line-height: 1.75em;
    padding: 0 1em 0 0;
    font-size: 1em;
}

.post {
    padding-bottom: 2em;
}
.post-list-section {
    clear: both;
}
.post-title, .rich-text h2 {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 500
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}

h1 a.post-title-list {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}

.button-sidebar {
    font-size: 80%;
}

.button-tags {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 80%;
    color: #fff;
    background: rgb(43, 128, 204);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5em;
}

.button-tags-blog-list {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 80%;
    color: #fff;
    background: rgb(43, 128, 204);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: top;
    margin-bottom: 0.5em;
}


.rich-text h3 {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2em;
    margin: 1em 0 0.25em;
}
.rich-text h4 {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 1.25em;
    margin: 1em 0 0.5em;
}
.post-description, .rich-text p {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color: #444;
    line-height: 1.8em;
    margin: 0 0 1em;
}

.content-body .rich-text p, .home-summary .rich-text p {
    font-size: 1.2em;
}

.post-intro {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color: #444;
    font-size: 1.2em;
    line-height: 1.8em;
    margin: 1em 0 0;
}

.rich-text li {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color: #444;
    font-size: 1.2em;
    margin: 0 0 0.5em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
.post-category-design {
    background: #5aba59;
}
.post-category-pure {
    background: #4d85d1;
}
.post-category-yui {
    background: #8156a7;
}
.post-category-js {
    background: #df2d4f;
}

.post-images {
    margin: 1.5em 1.5em 1.5em 0;
    float: left;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}
.post-image-gallery {
    margin: 1.5em 0;
}

.richtext-image.right {
    float: right;
    margin-left: 1em;
}

.richtext-image.left {
    float: left;
    margin: 0 1.5em 1em 0;
}

.footer {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    padding: 2em 0;
    color: grey;
    clear: both;
}

@media (min-width: 48em) {
    a h1.brand-title {
        font-size: 2.5em;
    }
    .brand-tagline {
        font-size: 2em;
    }
    .home-summary div h2{
        font-size: 3.25em;
        line-height: 1em;
    }
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }
    h1.content-title {
        font-size: 3em;
        margin: 0 0 0.2em;
    }
    .header {
        margin: 40% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .nav-list {
        margin: 0 0 1.5em;
    }
    .nav-item a {
      font-size: 80%;
    }

    .footer {
        text-align: center;
    }
    .button-tags {
        margin-bottom: 0;
    }
    .button-tags-blog-list {
        margin-bottom: 0;
    }

}
