{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags home_extras %}

{% block body_class %}template-homepage{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
    <section>
        <div class="home-summary">{{ page.body|richtext }}</div>
    </section>
    <section class="pure-g">
        <section class="pure-u-1-1 pure-u-lg-1-2 home-sections">
            <h2 class="content-subhead">Most Recent Post</h2>
            {% get_last_post as last_post %}
            <a class="home-content-title" href="{% pageurl last_post %}">{{ last_post.title }}</a> | <span class="content-time">{{ last_post.date }}</span>
            <div class="content-time">{{ last_post.body|truncatewords:40|richtext }}</div>
        </section>
        <section class="pure-u-1-1 pure-u-lg-1-2 home-sections">
            <h2 class="content-subhead">Recent Posts</h2>
            <div>
                {% get_latest_posts as latest_posts %}
                {% for post in latest_posts %}
                    <div class="home-title-list-section"><a href="{{ post.url }}" class="home-title-list">{{ post.title }}</a>  | <span class="content-time">{{ post.date }}</span></div>
                {% endfor %}
            </div>
        </section>
    </section>
  </div>
</div>
{% endblock %}
