{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if settings.sitesettings.SiteSettings.site_googleauth %}
        <meta name="google-site-verification" content="{{ settings.sitesettings.SiteSettings.site_googleauth }}" />
    {% endif %}

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'purecss/pure-release-1.0.0/pure-min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lightbox/css/lightbox.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/fa-brands.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/fa-solid.css' %}">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static 'purecss/pure-release-1.0.0/grids-responsive-old-ie-min.css' %}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{% static 'purecss/pure-release-1.0.0/grids-responsive-min.css' %}">
    <!--<![endif]-->

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static 'purecss/css/layouts/blog-old-ie.css' %}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{% static 'purecss/css/layouts/blog.css' %}">
    <!--<![endif]-->

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}
    <section id="layout" class="pure-g">
        <section class="sidebar pure-u-1 pure-u-md-1-4">
            {% block sidebar %}{% endblock %}
        </section>
        <section class="content pure-u-1 pure-u-md-3-4">
            {% block content %}{% endblock %}
            <footer class="footer">
                {{ settings.sitesettings.SiteSettings.site_copyright }}. This website uses Free and Open Source software <a href="https://www.djangoproject.com/">Django</a> and <a href="https://wagtail.io/">Wagtail CMS</a>.
            </footer>
        </section>
    </section>

    {# Global javascript #}

    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}

</body>
</html>
