{% load wagtailcore_tags menu_tags blog_extras %}

{% block sidebar %}
<header class="header">
    <a href="/"><h1 class="brand-title">{{ settings.sitesettings.SiteSettings.site_title }}</h1></a>
    <h2 class="brand-tagline">{{ settings.sitesettings.SiteSettings.site_tagline }}</h2>

    <nav class="nav">
        {% block main_menu %}
            {% main_menu template="custom_menus/main_menu.html" %}
        {% endblock %}

        <section class="social-links">
            {% if settings.sitesettings.SiteSettings.site_twitter %}
                <a href="{{ settings.sitesettings.SiteSettings.site_twitter }}" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                </a>
            {% endif %}
            {% if settings.sitesettings.SiteSettings.site_linkedin %}
                <a href="{{ settings.sitesettings.SiteSettings.site_linkedin }}" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                </a>
            {% endif %}
            {% if settings.sitesettings.SiteSettings.site_gitea %}
                <a href="{{ settings.sitesettings.SiteSettings.site_gitea }}" target="_blank">
                    <i class="fas fa-coffee fa-lg"></i>
                </a>
            {% endif %}
            {% if settings.sitesettings.SiteSettings.site_github %}
                <a href="{{ settings.sitesettings.SiteSettings.site_github }}" target="_blank">
                    <i class="fab fa-github fa-lg"></i>
                </a>
            {% endif %}
            {% if settings.sitesettings.SiteSettings.site_gitlab %}
                <a href="{{ settings.sitesettings.SiteSettings.site_gitlab }}" target="_blank">
                    <i class="fab fa-gitlab fa-lg"></i>
                </a>
            {% endif %}
        </section>

        <ul class="nav-list">
            {% get_taglist as tags %}
            {% for tag in tags %}
                <li class="nav-item">
                  <a class="pure-button" href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

</header>
{% endblock %}
