{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-simplepage{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
    <article>
        <h1 class="content-subhead">{{ page.title }}</h1>
        <div class="home-summary">{{ page.body|richtext }}</div>
    </article>
{% endblock %}
