{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}
{% block content %}
    <article>
        <h2 class="content-subhead">{{ page.date }}</h2>
        <h1 class="content-title">{{ page.title }}</h1>
        <nav class="content-nav">
            {% if page.tags.all.count %}
                {% for tag in page.tags.all %}
                    <a class="button-tags pure-button" href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
                {% endfor %}
            {% endif %}
        </nav>
        {% if page.gallery_images.all %}
            <section class="pure-g post-image-gallery">
              {% for item in page.gallery_images.all %}
                  {% image item.image original as imgoriginal %}
                  <div class="pure-u-1-2 pure-u-lg-1-4">
                      <a href="{{ imgoriginal.url }}" data-lightbox="blog-images" data-title="{{ item.caption }}">
                          {% image item.image fill-500x350 class="pure-img" %}
                      </a>
                  </div>
              {% endfor %}
            </section>
        {% endif %}
        <div class="content-body">{{ page.body|richtext }}</div>
    </article>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'lightbox/js/lightbox-plus-jquery.min.js' %}"></script>
{% endblock %}
