{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
    <section>
        <h2 class="content-subhead">{{ page.title }}</h2>

        {% for post in blogpages %}
            {% with post=post.specific %}
                <h1 class="content-title"><a href="{% pageurl post %}">{{ post.title }}</a></h1>
                <section>
                <time class="content-time">{{ post.date }}</time>
                {% if post.tags.all.count %}
                    {% for tag in post.tags.all %}
                        <a class="button-tags-blog-list pure-button" href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
                    {% endfor %}
                {% endif %}
                </section>
                {% with post.main_image as main_image %}
                    {% if main_image %}
                        <div class="post-images">{% image main_image width-300 class="pure-img" %}</div>
                    {% endif %}
                {% endwith %}
                {% if post.intro %}
                    <div class="post-intro">{{ post.intro }}</div>
                {% else %}
                    <div class="post-intro">{{ post.body|truncatewords:100|richtext }}</div>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </section>
{% endblock %}
